{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {{include('produit/_table.html.twig', {'produits':produits})}}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('produit_new') }}">Create new</a>
    {% endif %}

    <a href="{{path('app_login')}}">Se connecter</a>
    <a href="{{path('app_register')}}">Créer un compte</a>
{% endblock %}
